*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.search___div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.search__btn{
  height: 3vh;
  width: 80px;
  background: transparent;
  margin-left: 20px;
  margin-top: 10px;
  border: 2px solid #FF7043;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.search__btn:hover{
  transform: scale(1.1);
  background-color: #FF7043;
  color: white;
}
.page__btn{
  height: 4.3vh;
  min-width: 100px;
  background: transparent;
  margin-left: 20px;
  border: 2px solid #FF7043;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.page__btn:hover{
  transform: scale(1.1);
  background-color: #FF7043;
  color:white
}
.btn__div{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* border: 1px solid red; */
}




