.header__div{
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add__btn{
    height: 3vh;
    width: 80px;
    background: transparent;
    margin-left: 60px;
    border: 1px solid #FF7043;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .add__btn:hover{
    transform: scale(1.1);
  }